<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>
    <title>Create Post</title>

</head>
<body>
  
  <header>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar__container--white">
      <div class="container">
        <div class="d-flex justify-content-start align-items-center">
          <a class="navbar-brand" href="./index.html"><!--navbar icon-->
            <img
              width="55px"
              class="img-fluid navbar__logo"
              src="https://dev-to-uploads.s3.amazonaws.com/uploads/logos/resized_logo_UQww2soKuUsjaOGNB38o.png"
              alt="Logo"
            />
          </a>
          <h5>Create Post</h5>
        </div>
        <div class="d-flex navbar__container-right align-items-center">
          <button class="btn navbar__buttton--transparent button__primary--transparent-purple ms-2"><!--bell icon-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              role="img"
              aria-labelledby="aq3rub5c6ph1z8hdyfqqj787ctidpyp6"
              class="crayons-icon"
            >
              <path
                d="M20 17h2v2H2v-2h2v-7a8 8 0 1116 0v7zm-2 0v-7a6 6 0 10-12 0v7h12zm-9 4h6v2H9v-2z"></path>
            </svg>
          </button>
          <div class="btn-group"><!--user avatar-->
            <img
            width="50px"
              class="mx-2 rounded-circle"
              src="https://xsgames.co/randomusers/avatar.php?g=male"
            />
          </div>
        </div>
      </div>
    </nav>
    <!-- Nav -->

  </header>

    <!--formulario-->
    <div id="post-form" class="card mb-3 d-flex container p-4">
      <form class="post-form">
        <!--image-->
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input class="form-control" id="image" aria-describedby="image" name="image" placeholder="Place here the URL">
        </div>
        <!--image-->
        <!--author-->
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input class="form-control" id="author" aria-describedby="author" name="author">
        </div>
        <!--author-->
        <!--title-->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input class="form-control" id="tite" aria-describedby="title" name="title">
        </div>
        <!--title-->
        <!--date-->
        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input class="form-control" id="date" aria-describedby="date" name="date">
        </div>
        <!--date-->
        <!--reaction-->
        <div class="mb-3">
          <label for="reaction" class="form-label">Reactions</label>
          <input class="form-control" id="reaction" aria-describedby="reaction" name="reaction">
        </div>
        <!--reaction-->
        <!--tags-->
        <div class="mb-3">
          <label for="tags" class="form-label">Tags</label>
          <input class="form-control" id="tags" aria-describedby="tags" name="tags">
        </div>
        <!--tags-->
        <!--content-->
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <input class="form-control" id="content" aria-describedby="content" name="content">
        </div>
        <!--contenido-->

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>

        <!--button-->
        <button id="save-comment" type="submit" class="btn btn-primary">Submit</button>
        <!--button-->
      </form>
    </div>
    <!--formulario-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
</body>
</html>